services:

  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: task_management_app
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:1.27-alpine
    container_name: task_management_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: postgres:16.3
    container_name: task_management_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_management_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7.2-alpine
    container_name: task_management_redis
    command: ["redis-server", "--save", "60", "1"]
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
